main {
    margin: 10px;
}

header {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.createTableBtn {
    width: 250px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    border-radius: 5%;
    /*border: none;*/
    background-color: #9d1f1a;
    color: #e2e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;

}

.table-box{
    display: flex;
    justify-content: center;
}

.button-box{
    display: flex;
    justify-content: center;
}

.button{
    margin: 3px;
    width: 60px;
    height: 30px;
    padding: 3px;
    border-radius: 10%;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: green;
}

table {
    margin: 20px;
    border: 2px solid #363636;
}

caption {
    padding: 5px;
    font-size: 30px;
    color: #1a1a1a;
}

tr {
    display: flex;
}

th, td {
    width: 100px;
    height: 100px;
    margin: 1px;
    border: 1px solid #6e6967;
    background: beige;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
}

.inputColor {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}